@media(max-width: 1060px){
  .banner{
    height: 500px;
  }
  .about__container{
    background-size: 500px;
    background-position: 0 100px;
  }
  .gift__bonus{
    width: 40%;
    padding: 10px;
  }
  .reviews{
    padding: 0 5px;
  }
}